form .btn-form-new-user {
    background: #009739;
    color: #fff;
}

form .btn-form-new-user:hover {
    background: #009739;
    color: #fff;
}

form .btn-form-new-user:active {
    background: #009739;
    color: #fff;
}
